<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5>
        <a href="/" class="brand-logo">
          <%- partial('logo.ejs', {}) %>
        </a>
        </h5>
        <p class="grey-text text-lighten-4 headline">
          <%- headline %>
        </p>
        <span class="secondary-button">
          <%- partial('../_shared_partials/demo-button', { button_text: 'Try The Demo'}) %>
        </span>
        <br><br>
      </div>
      <div class="col l4 s12 white-text footer-links">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-2" href="stories.html">Stories</a></li>
          <li><a class="grey-text text-lighten-2" href="/#how-it-works">How it Works</a></li>
          <li><a class="grey-text text-lighten-2" href="/#faq">FAQ</a></li>
          <li><a class="grey-text text-lighten-2" href="/#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s6 left-align">
          <span class="grey-text text-lighten-3">&copy; 2015 <%= site_name%></span>
        </div>
        <div class="col s6 right-align">
          <span class="grey-text text-lighten-3">By <%= author %></span>
        </div>
      </div>
    </div>
  </div>
</footer>
