<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5>
        <a href="/" class="brand-logo">
          <%- partial('logo.ejs', {}) %>
        </a>
        </h5>
        <p class="grey-text text-lighten-4 headline">
          <%- headline %>
        </p>
        <br><br>
      </div>
      <div class="col l4 s12 white-text footer-links">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-2" href="<%- demo_url %>">Demo</a></li>
          <li><a class="grey-text text-lighten-2" href="stories.html">Stories</a></li>
          <li><a class="grey-text text-lighten-2" href="/#faq">FAQ</a></li>
          <li><a class="grey-text text-lighten-2" href="<%=contact_url %>">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s6 left-align pkl">
          <span class="grey-text text-lighten-3">&copy; 2016 <%= site_name%> by <a href="https://powderkeglabs.com"><%= author %></a></span>
        </div>
        <div class="col s6 right-align pkl">
          <span class="grey-text text-lighten-3"><a href="/terms-of-use.html">Terms</a></span>
          &nbsp;|&nbsp;
          <span class="grey-text text-lighten-3"><a href="/privacy.html">Privacy</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>
