<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author%>">

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="//powderkeglabs.com/<%= path %>" />
    <meta property="og:image" content="//powderkeglabs.com/<%= image %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="<%= site_name %>" />

    <title><%= title %></title>
    <link rel="canonical" href="http://powderkeglabs.com/<%= path %>" />
    <link rel="stylesheet" href="/assets/components/prism/themes/prism.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
  </head>

  <body>

    <%- partial("/_shared_partials/nav", {}) %>

    <% if(current.path[0] == "blog" && current.source !== 'index') { %>
      <%- partial(current.path[0] + "/_nest") %>
    <% } else { %>
      <%- yield %>
    <% } %>

    <%- partial("/_shared_partials/footer", {}) %>

    <!-- Script Imports -->
    <!-- Custom Theme JavaScript -->
    <script src="/assets/components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/components/Materialize/dist/js/materialize.min.js"></script>
    <script src="/assets/components/prism/prism.js"></script>
    <script src="/assets/components/prism/components/prism-bash.min.js"></script>
    <script src="/assets/js/main.js"></script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58016939-2', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
