<header class="index-header">
  <div class="flex header-fill-overlay">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="uvp"><%= uvp %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="lead-in">
            <%= headline %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a href="#" class="btn-large waves-effect waves-light accent-color">Try the Demo</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <img class="responsive-img" src="/assets/images/hero.png" />
        </div>
      </div>
    </div>
  </div>
</header>
<main>

  <section id="how-it-works">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <h2>How It Works</h2>
          <p>We'll create an electronic version of your proxy and make it accessible online through a website URL. We'll then notify your owners of the URL by email. It's super easy to fill out the proxy, there are no apps to download, and any web browser will do.</p>

          <p>See it in action...</p>

          <img src="/assets/images/quorum.gif" class="responsive-img" />

          <p>Better yet, try it yourself</p>
          <p><a href="#" class="btn-large waves-effect waves-light accent-color">Go to Demo</a><p>

        </div>
      </div>
    </div>
  </section>

  <%- partial('_partials/benefits', {}) %>

  <%- partial('_partials/faq', {}) %>

  <%- partial('_partials/testimonials', {}) %>

  <%- partial('_partials/contact', {}) %>

</main>
