<header class="index-header">
  <div class="flex header-fill-overlay">
    <div class="container">
      <div class="row flex">
        <div class="col s12 l6 uvp-col">
          <h1 class="uvp"><%= uvp %></h1>
          <p class="lead-in">
            <%- headline %>
          </p>
          <p><a href="<%= demo_url %>" class="btn-large waves-effect waves-light accent-color">Try the Demo</a></p>
        </div>
        <div class="col s12 l6 hero-col">
          <img class="responsive-img" src="/assets/images/hero.png" />
        </div>
      </div>
    </div>
  </div>
</header>

<section class="news">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <span><a class="grey-text text-darken-2" href="#"><b>Latest Post:</b> How one condo easily achieved quorum and saved over $2500 with electronic proxies.</a></span>
      </div>
    </div>
  </div>
</section>

<main>

  <%- partial('_partials/how_it_works', {}) %>

  <%- partial('_partials/screens', {}) %>

  <%- partial('_partials/faq', {}) %>

  <%- partial('_partials/testimonials', {}) %>

  <%- partial('_partials/contact', {}) %>

</main>
