<header class="index-header">
  <div class="header-fill-overlay">
    <div class="index-header__container container">
      <div class="index-header__row row flex">
        <div class="col s12 m7 l6 uvp-col">
          <h1 class="uvp"><%= uvp %></h1>
          <p class="lead-in">
            <%- headline %>
          </p>
          <p>
            <a href="<%=contact_url %>" class="btn btn-large waves-effect waves-light accent-color">Get Started</a>
          </p>
        </div>
        <div class="col s12 m5 l6 hero-col">
          <img class="responsive-img" src="https://d1v53h6w11vaa4.cloudfront.net/hero.png" />
        </div>
      </div>
    </div>
  </div>
</header>

<section class="news">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <span class="news--post">
          <b>Latest Post:</b> How we helped a 300-unit condo pass a critical bylaw.
          <a href="<%= featuredPost %>" target="_blank">
            <!-- Read Now -->
          </a>Coming Soon.
        </span>
      </div>
    </div>
  </div>
</section>

<main>

  <!-- Benefits -->
  <section class="benefits" id="benefits">
    <div class="container">
      <div class="row">

        <%- partial('_shared_partials/benefit', {
          icon: 'fa-users',
          size: 'fa-3x',
          heading: 'Meet Quorum Easily',
          description: "Our clients have seen upwards of 100% increases in proxy submissions by owners."
        }); %>

        <%- partial('_shared_partials/benefit', {
          icon: 'fa-check',
          size: 'fa-3x',
          heading: "Pass Important Bylaws",
          description: "Owners can cast their votes online making it much easier to pass bylaws."
        }); %>

        <%- partial('_shared_partials/benefit', {
          icon: 'fa-envelope',
          size: 'fa-3x',
          heading: "Collect Email Consent",
          description: "Owners can opt-in to electronic notices, reducing a Corporation's future mailing costs."
        }); %>

      </div>
    </div>
  </section>

  <!-- Features -->
  <section class="screens">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6">
          <h2>The Electronic Proxy Tool</h2>
          <p>Our secure and Condo Act compliant e-proxy tool makes it fast and super easy for owners to complete their proxy online. All that's needed is a web browser and an internet connection, there's no app to download or install.</p>
          <p>But don't take our word for it...</p>
          <p><a href="<%= demo_url %>" target="_blank" class="btn btn-large btn-secondary btn-transparent">Try the Demo</a></p>
          <br>

        </div>
        <div class="col s12 m6 center-align">
          <img src="https://d1v53h6w11vaa4.cloudfront.net/demo.jpg" class="responsive-img gif-img" />
        </div>
      </div>
    </div>
  </section>

  <section class="screens">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6 push-m6">
          <h2>Canvasing not required...</h2>
          <p>Meetings are too expensive to adjourn, bylaws too critical not to pass; it's important to educate owners as to why. Our smart email system will periodically remind owners to complete their proxy.</p>
        </div>
        <div class="col s12 m6 pull-m6 center-align">
          <img src="https://d1v53h6w11vaa4.cloudfront.net/quorum-email.png" class="responsive-img screens-img" />
        </div>
      </div>
    </div>
  </section>

  <section class="screens">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6">
          <h2>Results in Real-time</h2>
          <p>You'll get the proxy the instant an owner completes it. We'll also notify you when you've achieved important voting thresholds. Imagine knowing you've reached quorum days or weeks before your meeting date.</p>
        </div>
        <div class="col s12 m6 center-align">
          <img src="https://d1v53h6w11vaa4.cloudfront.net/tabulate.jpg" class="responsive-img screens-img" />
        </div>
      </div>
    </div>
  </section>

  <section class="screens">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6 push-m6">
          <h2>Save time, money, and worry...</h2>
          <p>We'll take care of the electronic proxy setup and the printing &amp; delivery of the meeting package. We're a one stop shop for your meeting service needs.</p>
        </div>
        <div class="col s12 m6 pull-m6 center-align">
          <div>
            <i class="fa fa-5x fa-print notice-icon"></i>
            <i class="fa fa-5x fa-envelope-o notice-icon"></i>
            <i class="fa fa-5x fa-home notice-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section class="faq" id="faq">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <h2>FAQ</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <span class="question">1. Are our e-proxies compliant with the Condo Act?</span>
          <p class="answer">
            Yes! We have obtained a paid legal opinion from Miller Thomson LLP, a top
            Condominium Law Firm in Toronto. Our electronic proxies comply with
            Subsection 51 and 52 of the Condominium Act, 1998.
          </p>
        </div>
        <div class="col s12 m6">
          <span class="question">2. How is fraud prevented?</span>
          <p class="answer">
            We take a number of measures to screen for fraud including
            providing each owner with a unique access code, IP address tracking, and other
            methods. Submissions are also verified against the Corporation's owner
            registry.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <span class="question">3. How do we get the completed proxies?</span>
          <p class="answer">Proxies are emailed to your property manager the
            instant an owner completes it. We also provide a dashboard for managers
            to track and download completed proxies in real-time.</p>
        </div>
        <div class="col s12 m6">
          <span class="question">4. How long does it take to setup?</span>
          <p class="answer">
            Within 5 business days, contact us for more details.
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="testimonials">
    <div class="fill-overlay">
      <div class="container">
        <div class="row">
          <div class="col s12 testimonial">
            <p class="person-quote">
              <i class="fa fa-quote-left"></i>
              In my six years as a condo manager, this is the first time I’ve ever seen an AGM reach quorum before it was even held.
              <i class="fa fa-quote-right"></i>
              <br><span class="person-name">-- Wilmer Gomez, RCM</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 testimonial">
            <p class="person-quote">
              <i class="fa fa-quote-left"></i>
              It made reaching quorum so easy. We intend to continue using the electronic proxy for future meetings.
              <i class="fa fa-quote-right"></i>
              <br><span class="person-name">-- Ed Bezeau, President, MTCC 1371</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="logos" id="logos">
    <div class="container">
      <div class="row logos-row">
        <div class="col s12 m4 center-align logos-text">
          <br><br><br>
          <span class="logos-text--text">Trusted By:</span>
        </div>
        <div class="col s12 m4 center-align">
          <img src="/assets/images/logos/malvern.png" class="logo-image"/>
        </div>
        <div class="col s12 m4 center-align">
          <img src="/assets/images/logos/ppv.png" class="logo-image logo-ppv" />
        </div>
      </div>
    </div>
  </section>

  <section class="get-started" id="contact">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <p><a href="/contact.html" class="btn btn-large accent-color">Let's Get Started</a></p>
        </div>
      </div>
    </div>
  </section>

</main>
