<header class="index-header">
  <div class="header-fill-overlay">
    <div class="index-header__container container">
      <div class="index-header__row row flex">
        <div class="col s12 m7 l6 uvp-col">
          <h1 class="uvp"><%= uvp %></h1>
          <p class="lead-in">
            <%- headline %>
          </p>
          <p class="index--header__cta">
            <a id="home-header-demo" target="_blank" href="https://demo.getquorum.com?code=82cd407b-174d-4aea-9efa-380c4a4d4c52" class="btn btn-large accent-color home-header-demo">Try the Demo</a>

            <a id="home-header-quote" href="#estimate" class="btn btn-large home-header-quote btn-secondary-header">Get a Quote</a>
          </p>
        </div>
        <div class="col s12 m5 l6 hero-col">
          <img class="responsive-img" src="https://d1v53h6w11vaa4.cloudfront.net/hero.png" />
        </div>
      </div>
    </div>
  </div>
</header>

<section class="news">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <span class="news--post">
          <b>Latest Post:</b> How we helped a 300-unit condo pass a critical bylaw.
          <a id="home-featured-post" href="<%= featuredPost %>" target="_blank">
            Read Now
          </a>
        </span>
      </div>
    </div>
  </div>
</section>

<main>

  <!-- Benefits -->
  <section class="benefits" id="benefits">
    <div class="container">
      <div class="row">

        <%- partial('_shared_partials/benefit', {
          icon: 'fa-users',
          size: 'fa-3x',
          heading: 'Meet Quorum Easily',
          description: "Clients have seen upwards of 100% increases in proxy submissions."
        }); %>

        <%- partial('_shared_partials/benefit', {
          icon: 'fa-check',
          size: 'fa-3x',
          heading: "Pass Critical Bylaws",
          description: "Owners can cast their votes onnline making it much easier to pass bylaws."
        }); %>

        <%- partial('_shared_partials/benefit', {
          icon: 'fa-envelope',
          size: 'fa-3x',
          heading: "Reduce Paper Usage",
          description: "Electronic package distribution reduces the need for printing and mailing."
        }); %>

      </div>
    </div>
  </section>

  <!-- Features -->
  <section class="screens">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6">
          <h2>Get more proxies, a lot more...</h2>
          <p>A guided e-proxy tool gives your owners a super simple and convenient way to submit their proxies onilne. It's secure, transparent, and unbiased.</p>
          <p>Don't take our word for it, see for yourself.</p>
          <p><a id="home-demo-btn" target="_blank" href="https://demo.getquorum.com?code=82cd407b-174d-4aea-9efa-380c4a4d4c52" class="btn btn-large btn-secondary btn-transparent">Try the Demo</a></p>
          <br>

        </div>
        <div class="col s12 m6 center-align">
          <img src="https://d1v53h6w11vaa4.cloudfront.net/demo.jpg" class="responsive-img gif-img" />
        </div>
      </div>
    </div>
  </section>

  <section class="screens">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6 push-m6">
          <h2>Canvasing not required...</h2>
          <p>Increase owner participation with our proven email solicitation campaigns. Our communications team will customize the messaging to maximize owner engagement.</p>
        </div>
        <div class="col s12 m6 pull-m6 center-align">
          <img src="https://d1v53h6w11vaa4.cloudfront.net/quorum-email.png" class="responsive-img screens-img" />
        </div>
      </div>
    </div>
  </section>

  <section class="screens">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6">
          <h2>Get results in real-time</h2>
          <p>Watch the proxies roll in and get notified the instant you reach important thresholds. Imagine knowing you've reached quorum days or weeks before your meeting date.</p>
        </div>
        <div class="col s12 m6 center-align">
          <img src="https://d1v53h6w11vaa4.cloudfront.net/chart.jpg" class="responsive-img screens-img" />
        </div>
      </div>
    </div>
  </section>

  <section class="screens">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6 push-m6">
          <h2>Save on printing and mailing</h2>
          <p>Every meeting package we send electronically is one less for you to print and mail. We'll also set your condo up for future success by collecting owner email consent on your behalf.</p>
        </div>
        <div class="col s12 m6 pull-m6 center-align">
          <div>
            <i class="fa fa-5x fa-print notice-icon"></i>
            <i class="fa fa-5x fa-envelope-o notice-icon"></i>
            <i class="fa fa-5x fa-home notice-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section class="faq" id="faq">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <h2>FAQ</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <span class="question">1. Are our e-proxies compliant with the Condo Act, 1998?</span>
          <p class="answer">
            Yes! We have obtained a paid legal opinion from Miller Thomson LLP, a top
            Condominium Law Firm in Toronto. Our electronic proxies comply with
            Subsection 51 and 52 of the Condominium Act, 1998.
          </p>
        </div>
        <div class="col s12 m6">
          <span class="question">2. How is fraud prevented?</span>
          <p class="answer">
            We take a number of measures to screen for fraud including
            providing each owner with a unique access code, IP address tracking, and other
            methods.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <span class="question">3. How do <i>you</i> get the completed proxies?</span>
          <p class="answer">We provide a dashboard for you to track and download completed proxies in real-time. Proxies are also emailed to your property manager the instant an owner completes it. </p>
        </div>
        <div class="col s12 m6">
          <span class="question">4. How long does it take to setup?</span>
          <p class="answer">
            Typically within 5 business days. However, to maximize the effectiveness of the engagement campaign, we recommend contacting us at least 30 days prior to the meeting date.
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="testimonials">
    <div class="fill-overlay">
      <div class="container">
        <div class="row">
          <div class="col s12 testimonial">
            <p class="person-quote">
              <i class="fa fa-quote-left"></i>
              In my six years as a condo manager, this is the first time I’ve ever seen an AGM reach quorum before it was even held.
              <i class="fa fa-quote-right"></i>
              <br><span class="person-name">-- Wilmer Gomez, RCM</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 testimonial">
            <p class="person-quote">
              <i class="fa fa-quote-left"></i>
              It made reaching quorum so easy. We intend to continue using the electronic proxy for future meetings.
              <i class="fa fa-quote-right"></i>
              <br><span class="person-name">-- Ed Bezeau, President, MTCC 1371</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="logos" id="logos">
    <div class="container">
      <div class="row logos-row">
        <div class="col s12 m4 center-align logos-text">
          <br><br><br>
          <span class="logos-text--text">Trusted By:</span>
        </div>
        <div class="col s12 m4 center-align">
          <img src="/assets/images/logos/malvern.png" class="logo-image"/>
        </div>
        <div class="col s12 m4 center-align">
          <img src="/assets/images/logos/ppv.png" class="logo-image logo-ppv" />
        </div>
      </div>
    </div>
  </section>

  <%- partial('_shared_partials/quote') %>

</main>
