<div class="card blog-card">
  <div class="card-content black-text">
    <span class="card-title"><a class="card-title-link" href="/blog/<%= slug %>"><%= title %></a></span>

    <div class="info flex">
      <span class="date flex">
        <i class="material-icons tiny">today</i> <span class="date-text"><%= date %></span>
      </span>
      <span class="tags flex">
        <i class="material-icons tiny">label</i> <span class="tags-text"><%= tags %></span>
      </span>
    </div>

    <p class="snippet"><%= snippet %></p>

  </div>
  <div class="card-action">
    <a class="read-more" href="/blog/<%= slug %>">Read More</a>
  </div>
</div>
